body, html {
	height:100%;
	width:100%;
	margin:0;
}


*{
	box-sizing: border-box;
}

.navigation {
	overflow: hidden;
	background-color: #7bc5ae;
}

.navigation a {
	float: left;
	display: block;
	color: #e40078;
	text-aligh: center;
	padding: 14px 16px;
	text-decoration: none;
        font-size: 20px;
}

.navigation a:hover {
	background-color: #91cd32;
	color: #013220;
}

.overall {
  font-size: 18px;
  background-color: #fffdd0;
  color: #424874;
  padding: 10px 50px 50px 50px;
  line-height: 200%;
  text-align: justify;
  text-justify: inter-word;
  font-familly: Arial;
  margin: 0;
  
}

p ul li {

  margin: 0;
}


.main-color {
  background-color: #fffdd0;
}

/*.anchor {
  width: 100%;
  position: fixed;
  bottom: 0;
}*/

.social-media, .contact-info, .copyright   {
  background-color: #028c6a;
  margin: 0;
  padding: 0;
}


.social-text, .contact-text {
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  width: 100%;
  background-color: #028c6a;
  text-decoration: none;
  margin: 0;
  border-bottom: 14px solid #028c6a;
 
}

.social-text li, .contact-text li {
  display: block;
  list-style-type: none;
  margin: 0;
  font-size: 18px;
}



.copyright {
  text-align: center;
  color: white;
  font-size: 16px;
}

.fa {
  padding: 15px 29px 15px 18px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

